@import './variables.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: #fff;
  color: var(--color-tertiary);
  font-size: 1.4em;
  font-weight: 400;
  font-family: system-ui;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
