@import './variables.css';

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style: decimal inside;
  padding: 0;
  margin: 0;
}

p {
  margin: 0 0 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.4rem;
}

.heading-1 {
  font-size: 2.1rem;
  color: var(--color-secondary);
}

.heading-2 {
  font-size: 2.1rem;
  color: var(--color-secondary);
}

.heading-3 {
  font-size: 2.1rem;
  color: var(--color-tertiary);
}

.subheading-1 {
  font-size: 1.8rem;
  color: var(--color-secondary);
}

.subheading-2 {
  font-size: 1.4rem;
  color: var(--color-secondary);
}

.subheading-3 {
  font-size: 1.4rem;
  color: var(--color-tertiary);
}

.subheading-4 {
  font-size: 1.4rem;
  color: var(--color-tertiary);
}

.text-1 {
  font-size: 1.6rem;
  color: var(--color-tertiary);
}

.text-2 {
  font-size: 1.4rem;
  color: var(--color-tertiary);
}

.text-primary {
  color: var(--color-primary);
}

.text-error {
  color: var(--color-error);
}

.text-link {
  font-size: 1.4rem;
  color: var(--color-link);
  cursor: pointer;
}
