/* Colors */
:root {
  --color-primary: #5500eb;
  --color-secondary: #4a4a4a;
  --color-tertiary: #9b9b9b;
  --color-quaternary: #e0e0e0;
  --color-quinary: #f1f1f1;
  --color-error: #d00;
  --color-link: #0d0;
}

/* Color Variants */
:root {
  --color-primary-hover: #93d0c8;
}

/* Fonts */
:root {
  --font-primary: 'Roboto';
  --font-secondary: 'Roboto';
}

/* Others */
:root {
  --shadow-primary: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.1);
}
