{
  "presets": [
    ["latest", {
      "es2015": {
        "modules": false
      }
    }],
    "react",
    "stage-1"
  ],
  "env": {
    "test": {
      "presets": [
        "latest",
        "react",
        "stage-1"
      ]
    },
    "production": {
      "plugins": [
        "lodash",
        "transform-react-remove-prop-types",
        "transform-react-inline-elements"
      ]
    }
  }
}
