{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "indentation": null,
    "comment-empty-line-before": null
   },
  "syntax": "scss"
}
