@import '../../assets/css/variables.css';

.Testimonials {
  margin-top: 5rem;

  & .list {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }

  & .img {
    border-radius: 50%;
    border: 0.3rem solid transparent;
    padding: 0.4rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &--active {
      border-color: var(--color-primary);
    }
  }

  & .name {
    visibility: hidden;
    color: var(--color-secondary);
    margin-top: 0.8rem;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    &--visible {
      visibility: visible;
    }
  }
}
