@import '../../../vendor/css/variables.css';

.users {
  margin-top: 50px;

  &__list {
    margin: 16px 0;
  }

  &__img {
    border-radius: 50%;
    border: 3px solid transparent;
    padding: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &--active {
      border-color: var(--color-primary);
    }
  }

  &__name {
    visibility: hidden;
    color: var(--color-secondary);
    margin-top: 8px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    &--visible {
      visibility: visible;
    }
  }
}
